:root {
  --green: #596d48;
}

.container {
  display: flex;
  width: 100%;
}

.header-wrapper {
  width: 40%;
  position: relative;
}

.header-img {
  width: 100%;
}

header {
  background-color: rgba(26, 25, 25, 0.788);
  position: absolute;
  top: 0;
  display: flex;
  font-size: 3rem;
  width: 100%;
}

.logo-img {
  width: 150px;
  height: auto;
}

h1 {
}
