/* declaring variable */

:root {
  --green: #596d48;
}

/* import fonts */

@font-face {
  font-family: "Norse";
  src: url(./public/norse-bold-webfont.woff) format("woff");
}

.container {
  display: flex;
  width: 100%;
}

.header-wrapper {
  width: 38%;
  position: relative;
}

.header-wrapper > img {
  width: 100%;
}

.header-title {
  background-color: rgba(26, 25, 25, 0.637);
  position: absolute;
  top: 150px;
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: auto;
  height: 110px;
}

.header-title > h1 {
  font-family: "Norse";
  color: white;
  font-size: 5rem;
}

.header-wrapper > p,
.header-wrapper > p > a {
  color: white;
  font-size: 0.8rem;
}

.header-wrapper > p {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}

.header-wrapper > p > a {
  text-decoration: underline;
}
